* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

h1 {
    color: rgb(145, 61, 179);
    font-family: serif;
    margin-bottom: 10px;

}


.title {
    font-size: 18px;
    font-family: monospace;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
}

.nav li{
    display: inline-block;
}

.nav a {
    color: rgb(240, 198, 62);
    background-color: rgb(145, 61, 179);
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.nav .blog {
    background-color: rgb(235, 114, 16);
}